In [1]:
import pandas as pd

# Read the data
df = pd.read_csv('data/grades.csv')

In [2]:
df.head()

  Exam Points  Grade  Absolute frequency
0        0-20      5                  57
1       20-30      4                  93
2       30-37      3                  92
3       37-46      2                  29
4       46-51      1                   3

In [15]:
df = df.rename({'Absolute frequency': 'n_c'}, axis=1)

## Determine the class width $ w_c = x_c^u - x_c^l $  for each class

In [12]:
df[['x_l','x_u']] = df['Exam Points'].str.split('-',expand=True).astype(float)
df['w'] = df['x_u'] - df['x_l']

## Determine the relative frequency $f_{r, c} = \frac{n_c}{n}$ of each class

In [16]:
df['f_r'] = df['n_c'] / df['n_c'].sum()

## Determine the frequency densities $ d_{c} = \frac{f_{r, c}}{w_c} $

In [18]:
df['d'] = df['f_r'] / df['w']

## Let us determine the mode using: $ x_\text{mod} =x_{M}^{l}+{\frac {d_{M}-d_{M-1}}{2\,d_{M}-d_{M-1}-d_{M+1}}}(x_{M}^{u}-x_{M}^{l}) $

In [36]:
mci = df['d'].argmax()  # mci = modal_class_idx
mod = df['x_l'][mci] + ((df.d[mci] - df.d[mci-1]) / (2 * df.d[mci] - df.d[mci-1] - df.d[mci+1])) * (df['x_u'][mci] - df['x_l'][mci])

In [39]:
mod.round(2)

31.95